.container
{

display: flex;
justify-content: top;
align-items: center;
height: 15%;
}



.logotitulo
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}

.logosus
{
display: flex;
position: absolute;
left: 2%;
margin: 0px;
bottom: 89%;
}



.retanguloazul
{
margin-top: 0%;
background-color: white;
width: 100%;
height: 100px;
}

.fundodosite
{
    height: 100vh;
    margin: 0px;
background: linear-gradient(to bottom, #2696FD,#6bace9,#d9e4ee);
}

.fundodosite::before
{

content: vazio;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color:rgba (0, 0, 0, 2);


}

.retangulomeio
{

display: flex;
position: absolute;
background-color: #024477;
justify-content: center;
text-align: center;
color: white;
width: 100%;
top: 10%;
height: 5%;
}

.retangulofino
{
display: flex;
justify-content: left;
align-items: center;
background-color: white;
width: 100%;
height: 8%;
margin-left: 0px;
margin-top: 35px;
}

.espacobotao

{
margin-top: 0%;
height: 100%;
width: 25%;
border-style: groove;
border-color: black;
border-width: 0.5px;
transition: 0.7s ease;
font-family: Arial, Helvetica, sans-serif;
font-size: 90%;
}

.espacobotao:hover
{

background-color: #C1DAF6;
color: rgb(0, 0, 0);
transform: scale(1.1);
}

.unidade
{
display: flex;
position: absolute;
right: 8%;
bottom: 92%;
margin: 0%;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: medium;
color: #0066B3;
}

.joaocampos
{
display: flex;
position: absolute;
text-align: left;
right: 6.8%;
bottom: 95%;
font-family: Arial, Helvetica, sans-serif;
font-size: medium;
font-weight: bold;
color: #0066B3;
}

.carossel
{

width: 84%;
height: 37%;
margin-top: 5%;
margin-left: 9%;
background-image: url(Hospital.jfif);
background-size: auto;
}
