

.container
{

display: flex;
justify-content: top;
align-items: center;
height: 15vh;


}

.logotitulo
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}

.logosus
{
padding: 1%;
margin: 0%;



}

.retanguloazul
{
margin-top: 0%;
background-color: white;
width: 100%;
height: 100px;
}

.fundodosite
{
    height: 100vh;
    margin: 0px;
background: linear-gradient(to bottom, #2696FD,#6bace9,#d9e4ee);
}

.fundodosite::before
{

content: vazio;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color:rgba (0, 0, 0, 2);



}

.retangulomeio
{

display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 40%;
background-color: #01508D;
font-family: Arial, Helvetica, sans-serif;
color: white;
margin: 0px;

}

.retangulofino
{
display: flex;
justify-content: left;
align-items: center;
background-color: white;
width: 100%;
height: 8%;
margin: 4px;
margin-left: 0px;
margin-top: 35px;
}

.espacobotao

{
margin-top: 0%;
height: 100%;
width: 25%;
border-style: groove;
border-color: black;
border-width: 0.5px;
transition: 0.5 ease;
font-family: Arial, Helvetica, sans-serif;
font-size: 90%;
}

.espacobotao:hover
{

background-color: #C1DAF6;
color: rgb(0, 0, 0);
transform: scale(1.1);
}

.unidade
{

position: relative;
text-align: left;
left: 64.8%;
padding-top: 1.5%;
margin-bottom: 0%;
padding-bottom: 0%;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: #0066B3;
}

.joaocampos
{

position: relative;
text-align: left;
left: 75%;
height: 10%;
padding-bottom: 3%;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: #0066B3;
}

.carossel
{


width: 84%;
height: 37%;
margin-top: 5%;
margin-left: 8%;
background-image: url(Hospital.jfif);
background-size: auto;
}